.font-inter{
    font-family: "Inter" , sans-serif;
    font-style: normal;
}
.Button{
    width: auto;
    height: 52px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    line-height: auto;
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
#Nav-bar{
    width: 100%;
    max-width: 1600px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto;
    margin: auto;
}
#Nav-bar .Nav-info{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    display: flex;
    gap: 32px;
    list-style-type:none;
}
#Hero-section{
    width: 100%;
    max-width: 1600px;
    height: 674px;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    text-align: center;
    border: #FFFFFF 1px solid;
    margin: auto;
}
.Hero-container{
    width: 1360px;
    height: 379px;
    margin: 115px 120px 180px 120px;
}
.Early-action{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    width: 229px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    margin: 0px 565.5px 0px 565.5px;
}
.Early-action img{
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 8px;
}
.Hero-headings{
    font-size: 2.25em;
    font-weight: bold;
    display: inline;
    line-height: 32px;
}
.White{
    color: #FFFFFF;
}
.Green{
    color: #30B868;
}
.Extra-info{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    white-space: pre-line;
}
.Hero-button{
    display: inline-flex;
    gap: 16px;
}
.Transparent-Button{
    width: auto;
    height: 52px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    line-height: auto;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
#Main-layer-1{
    width: 100%;
    max-width: 1600px;
    height: 28%;
    max-height: 448px;
    margin: 0px auto;
}
.Layer-text{
    max-width: 1360px;
    margin: 0px 120px 44px 120px;
    padding: 0px;
    text-align: center;
}
.Layer-text .Layer-heading{
    margin: 48px auto 16px auto;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.Layer-text .Layer-paragraph{
    margin: 0px auto;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
.Layer-flexbox{
    display: flex;
    justify-content: center;
    gap: 24px;
    max-width: 1360px;
    margin: 0px auto;
}
.Layer-flexbox .flex-item{
    width: 322px;
    height: 300px;
    margin: 0px 0px -48px 0px;
    padding: 24px;
    text-align: center;
    border: none;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.06);
}
.Layer-flexbox .flex-item .Flex-image{
    width: 32px;
    height: 32px;
    color: #FFFFFF;
    background-color: #f95555;
    border: none;
    border-radius: 50%;
    padding: 13.5px;
    margin-top: 45.5px;
}
.Layer-flexbox .flex-item .Flex-Heading{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    white-space: pre-line;
    
}
.Layer-flexbox .flex-item .Flex-text{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}