.font-inter{
    font-family: "Inter" , sans-serif;
    font-style: normal;
}
.Button{
    width: auto;
    height: 52px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    line-height: auto;
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
#Nav-bar{
    width: 100%;
    max-width: 1600px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto;
    margin: auto;
}
#Nav-bar .Nav-info{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    display: flex;
    gap: 32px;
    list-style-type:none;
}
#Hero-section{
    max-width: 1600px;
    height: 674px;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    text-align: center;
    border: #FFFFFF 1px solid;
    margin: auto;
}
.Hero-container{
    width: 1360px;
    height: 379px;
    margin: 115px 120px 180px 120px;
}
.Early-action{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    width: 229px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    margin: 0px 565.5px 0px 565.5px;
}
.Early-action img{
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 8px;
}
.Hero-headings{
    font-size: 2.25em;
    font-weight: bold;
    display: inline;
    line-height: 32px;
}
.White{
    color: #FFFFFF;
}
.Green{
    color: #30B868;
}
.Extra-info{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    white-space: pre-line;
}
.Hero-button{
    display: inline-flex;
    gap: 16px;
}
.Transparent-Button{
    width: auto;
    height: 52px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    line-height: auto;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
